<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="unsa.pmf.www.verz1">

    <uses-sdk tools:overrideLibrary="android.support.v17.leanback"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".IgracListActivity">
        </activity>
        <activity
            android:name=".IgracPagerActivity"
            android:parentActivityName=".IgracListActivity">
        </activity>
        <activity android:name=".HistorijaKlubaActivity">
        </activity>
        <activity android:name=".NajLicnostListActivity">
        </activity>
        <activity
            android:name=".NajLicnostPagerActivity"
            android:parentActivityName=".NajLicnostListActivity">
        </activity>
        <activity android:name=".OAplikacijiActivity">
        </activity>
    </application>
</manifest>